<!DOCTYPE html>
<html>
<head>
    <title>Calcul des Bilans</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../CSS/style.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="icon" type="image/png" href="../img/ocp_barre.ico">

</head>
<body>
    <div class="header" id="topheader">
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
            <div class="container text-uppercase p-2">
                <img src="../img/ocp.jpeg" alt="Logo OCP Group" width="90" height="90">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Calculer des bilans
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="home.html">Barillet BP</a></li>
                                <li><a class="dropdown-item" href="bache_home.html">La bâche alimentaire</a></li>
                                <li><a class="dropdown-item" href="gta_efficiency_home.html">Groupe turboalternateur GTA</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#servicediv">À propos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#contactid">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <section class="header-section">
            <div class="center-div">
                <h1 class="font-weight-bold">Bienvenue sur notre site</h1>
                <p>Explorez notre plateforme de Calcul des bilans massiques et énergétiques de la boucle eau-vapeur.</p>
                <div class="header-buttons">
                    <a href="#newsletterid">À propos</a>
                    <a href="#contactid">Contact</a>
                </div>
            </div>
        </section>
    </div>
    <!--*********** three extra header div starts ***********-->

    <section class="header-extradiv">
        <div class="container">
            <div class="row">
                <div class="extra-div col-lg-4 col-md-4 col-12">
                    <a href="#"><i class="fa-3x fa fa-calculator" aria-hidden="true"></i></a>
                    <h2>Barillet BP</h2>
                    <p> Le barillet BP a un rôle essentiel dans le processus en acheminant les sorties variées selon
                        les besoins de l'usine. Intégrant des soupapes et équipements de détente, il régule le flux
                        et la pression des fluides dans la boucle eau-vapeur.</p>
                </div>
                <div class="extra-div col-lg-4 col-md-4 col-12">
                    <a href="#"><i class="fa-3x fa fa-calculator" aria-hidden="true"></i></a>
                    <h2>La bâche alimentaire</h2>
                    <p> La bâche Alimentaire  collecte l’eau de polissage et la vapeur BP de soutirage ou
                        bien du barbotage pour les conditionner avant d'envoyer l’eau dite alimentaire aux
                        chaudières de récupération de l’atelier sulfurique.</p>
                </div>
                <div class="extra-div col-lg-4 col-md-4 col-12">
                    <a href="#"><i class="fa-3x fa fa-calculator" aria-hidden="true"></i></a>
                    <h2>Groupe turboalternateur GTA</h2>
                    <p> Le groupe turbo alternateur (GTA) assure la détente de la vapeur HP produite par Les deux Chaudières de Récupération de l’atelier sulfurique en transformant l’énergie thermique de cette vapeur en énergie électrique. </p>
                </div>
            </div>
        </div>
    </section>

    <!--*********** three extra header div ends ***********-->
    <!--*********** offer section strats ***********-->
    <section class="serviceOffers" id="servicediv">
        <div class="container heading text-center">
            <h1 class="text-center font-weight-bold">À propos</h1>
            <p class="text-center">L'étude critique du bilan énergétique de la boucle eau-vapeur au sein de JFC V, filiale de l'OCP, s'inscrit dans un contexte de gestion responsable et durable de l'énergie. Face à une concurrence internationale et dans un souci de performance globale, l'entreprise reconnaît l'importance de surveiller et contrôler sa consommation d'énergie, d'améliorer son efficacité énergétique, et de se conformer aux normes ISO 50001 version 2018.</p>
        </div>
    </section>

    <!--*********** offer section end ***********-->
    <!--*********** Project done Start ***********-->
   <section class="project-work">
    <div class="container heading text-center">
         <p class="text-center font-weight-bold" style="color: black;">OPTIMISATION ÉNERGETIQUE AU SEIN DU GROUPE OCP MAROC</p>
    </div>
    <div class="container d-flex justify-content-around align-items-center text-center">
        <div>
            <h1 class="count">89<h1>%</h1></h1>
            <p> De chaleur résiduelle Transformer en électricité pour répondre aux besoins énergétiques du Groupe </p>
        </div>

        <div>
            <h1 class="count">20<h1>%</h1></h1>
            <p>De réduction significative de la consommation d'eau grâce à une gestion optimisée des flux dans la boucle eau-vapeur</p>
        </div>
        <div>
            <h1 class="count">25<h1>%</h1></h1>
            <p>D'augmentation notable de la rentabilité grâce à la minimisation des pertes thermiques</p>
        </div>
    </div>
</section>


    <!--*********** Project done End ***********-->

    <!--*********** Contuct us starts ***********-->
    <section class="contactus" id="contactid">
        <div class="container heading text-center">
            <h1 class="text-center font-weight-bold">Contactez-nous</h1>
            <p class="text-capitalize pt-1">Nous sommes là pour vous aider et répondre à vos questions.</p>
</div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-10 offset-lg-2 offset-md-2 offset-1">
                    <form action="/action_page.php">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Enter Votre Nom" id="username" required>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Enter E-mail" id="email" required>
                        </div>
                        <div class="form-group">
                            <input type="number" class="form-control" placeholder="Enter Votre Numéro" id="mobile" required >
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" rows="4" id="comment" placeholder="Enter Votre Message"></textarea>
                        </div>
                        <div class="d-flex justify-content-center form-button">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!--*********** À Propos de Moi ***********-->
    <section class="footersection" id="footerid">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-12 footer-div">
                    <div>
                        <h3>À propos de site</h3>
                        <p>
                            La réalisation de ce site web a été effectuée dans le cadre de mon stage PFA
                            au sein de JFC V, filiale du groupe OCP. Le site vise à offrir une expérience interactive et instructive pour comprendre et évaluer les performances énergétiques des équipements de la boucle eau-vapeur.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12 footer-div text-center">
                    <div>
                        <h3>LIENS DE NAVIGATION</h3>
                        <li><a href="#">Accueil</a></li>
                        <li><a href="#">Calculer des bilans</a></li>
                        <li><a href="#">À propos</a></li>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12 footer-div">
                    <div>
                        <h3>Dans les coulisses de la Simulation</h3>
                        <p>
                            Ing.Lamqaddem Lamyaa, la créatrice de cet espace , Je suis enchantée de vous accompagner dans cette exploration virtuelle pour plus d'information n'hésiter pas de me contactez.
                        </p>

                    </div>
                    <div class="container newsletter-main">
                        <div class="row">
                            <div class="col-lg-12 col-12">
                                <div class="input-group mb-3">
                                    <input type="email" class="form-control news-input" placeholder="Votre Email">
                                    <div class="input-group-append">
                                        <button class="input-group-text">S'Abonner</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-5 text-center">
                <p>Copyright &#169; 2023 All rights reserved | This Website is made with Love by LAMQADDEM Lamyaa</p>
            </div>
        </div>
    </section>

    <!-- Liens vers les fichiers JavaScript de Bootstrap (facultatif) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <!--*********** Footer end ***********-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js" integrity="sha256-jDnOKIOq2KNsQZTcBTEnsp76FnfMEttF6AV2DF2fFNE=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js" integrity="sha256-JtQPj/3xub8oapVMaIijPNoM0DHoAtgh/gwFYuN5rik=" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        $('.count').counterUp({
            delay:10,
            time: 300
        })

        //Get the Button
        mybutton=document.getElementById("myBtn");
        //Wen the user scrolls down 20px from the top of the document, show the button
        window.onscroll=function() { scrollfunction()};
        function scrollfunction() {
            if(document.body.scrollTop > 20 || document.documentElement.scrollTop >20) {
                mybutton.style.display="block";
            } else {
                mybutton.style.display="none";
            }
        }
        //Wen user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0; //For Saffari
            document.documentElement.scrollTop = 0; //For Chrom, FireFox, IE and Opera
        }
    </script>

</body>
</html>
